:root {
    --white-color: rgba(255, 255, 255, 1);
    --primary-color: rgba(0, 0, 0, 0.85);
    --info-background-color: rgba(246, 246, 246, 1);
    --color-text: rgb(217, 110, 30);
    --grey-text: #939393;
    --info-header:rgba(0, 0, 0, 0.85);
    --text-background-li:rgba(255, 255, 255, 1)
}