@import url('colors.css');

body {
    font-family: "PT Sans", serif;
    background-color: var(--primary-color);
    margin: 0 auto;
}

.header {
    margin: 40px 40px 0 40px;
    display: flex;
    align-items: center;
}

.header__content {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
}

.header__contact {
    display: flex;
    gap: 15px;
}

.header__logo {
    width: 126px;
    height: 35px;
}

.header__slogan {
    color: var(--grey-text);
    font-size: 18px;
    font-weight: 400;
}

.header__phone {
    color: var(--grey-text);
    font-size: 18px;
}

.header__img-search {
    width: 20px;
    height: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.main__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    width: 592px;
    font-size: 60px;
    font-weight: 100;
    color: var(--white-color);
}

.main__markers {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--grey-text);
}

.main__marker:hover {
    display: inline;
    color: var(--white-color);
    border-left: 0 solid rgba(0, 0, 0, 0.85);
    padding: 0 30px 0 30px;
}

.main__cover-container {
    display: flex;
    position: relative;
}

.main__cover {
    width: 475px;
}

.main__img-price {
    width: 145px;
    height: 54px;
    position: absolute;
    top: 350px;
    right: 180px;
}

.main__marker {
    list-style: none;
    background: url(./image/Vector.svg) no-repeat 0 50%;
    padding-left: 24px;
}

.info__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.info {
    background-color: var(--info-background-color);
    padding-top: 70px;
}

.info__description {
    margin-top: 30px;
    font-size: 18px;
    line-height: 32px;
    width: 649px;
}

.info__color-text {
    color: var(--color-text);
    font-weight: bold;
    font-size: 30px;
}

.info__text {
    font-size: 15px;
    color: var(--grey-text);
}

.info__facts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__title {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: var(--info-header);
}

.info__fact {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.info__fact-content {
    width: 250px;
}

.info__img {
    width: 45px;
    height: 45px;
}

.products {
    background-color: var(--info-background-color);
    padding-bottom: 100px;
    padding-top: 90px;
}

.products__container {
    max-width: 1200px;
    margin: auto;
}

.products__title {
    font-size: 32px;
}

.products__list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.products__type {
    display: inline;
    font-size: 20px;
    color: var(--text-background-li);
    padding: 10px 10px 10px 10px;
}

.products__list li {
    width: 250px;
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.products__tap {
    background: url(./image/tap.png) no-repeat 0 50%;
}

.products__furniture {
    background: url(./image/bath.png) no-repeat 0 50%;
}

.products__shower {
    background: url(./image/shower.png) no-repeat 0 50%;
}

.products__toilet {
    background: url(./image/toilet.png) no-repeat 0 50%;
}

.collections {
    display: flex;
    justify-content: space-between;
}

.collections__description {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 300px;
    padding: 0 25px 25px 0;
    gap: 20px;
}

.collections__title {
    font-size: 32px;
    line-height: 36px;
    color: var(--title--background);
}

.collections__content {
    width: 486px;
    font-size: 18px;
    line-height: 32px;
    color: var(--grey-text);
    flex-grow: 1;
}

.collections__all {
}

.collections__all-types {
    list-style: none;
    background: url(./image/Vector.svg) no-repeat 0 50%;
    padding-left: 24px;
    color: var(--grey-text);
}

.collections__all-types:hover {
    display: inline;
    color: var(--white-color);
    border-left: 0 solid rgba(0, 0, 0, 0.85);
    padding: 0 30px 0 30px;
}

.collections__img {
    width: 68px;
    height: 32px;
}

.collections__offer-view {
    background: url(./image/offer.png) no-repeat 0 50%;
    width: 988px;
    height: 665px;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 40px;
}

.collections__price {
    background-color: var(--color--price);
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    color: var(--white-color);
}

.advantages, .promotion{
    padding-top: 80px;
    background-color: var(--white-color);
}

.advantages{
    padding-bottom: 80px;
}
.promotion__title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 36px;
}

.promotion__products {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.promotion__product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.5px solid gray ;
    padding: 10px;
}

.promotion__sales {
    display: flex;
}

.promotion__sale {
    width: 60px;
    height: 36px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 11px 8px 11px;
    border-radius: 2px;
    text-align: center;
    color: var(--color--sale);
    background-color: var(--color--price);
}

.product__img {
    width: 180px;
    height: 190px;
}

.promotion__text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    width: 260px;
    flex-grow: 1;
    margin-top: 20px;
}

.promotion__price {
    display: flex;
    align-items: center;
    gap: 2px;
}

.promotion__now-price {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: var(--color--price--promotion-section);
}

.promotion__past-price {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color--past-price--promotion-section);
    text-decoration: line-through;
}

.advantages__title{
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
}

.advantages__list{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.advantages__img{
    width: 90px;
    height: 90px;
}

.advantages__sub-title{
    font-size: 20px;
}

.advantages__text{
    font-size: 15px;
    line-height: 20px;
    color: var(--grey-text);
    text-align: center;
}
.advantages__content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.tagline__background{
    background: url("/image/background.png") no-repeat 0 50%;
    width: auto;
    height: 724px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tagline__content{
    padding: 50px;
    background-color: var(--color--tagline);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tagline__title{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: var(--tagline);
}

.footer{
    margin-top: 80px;
    padding-bottom:80px;
}
.footer__img{
    width: 126px;
    height: 35px;
}
.footer__info{
    display: flex;
    gap: 30px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.footer__markers{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--grey-text);
}

.footer__marker{
    background: url(./image/Vector.svg) no-repeat 0 50%;
    padding-left: 24px;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__contact-img{
    width: 20px;
    height: 20px;
}

.footer__phone, .footer__mail{
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.footer__text{
    font-size: 16px;
    font-weight: 700;
    color: var(--footer--title);
}

.footer__social-media{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__img-inst{
    width: 36px;
    height: 36px;
}

.footer__developed-company{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1400px;
}

.footer__company{
    font-weight: 400;
    font-size: 12px;
    color: var(--grey-text);
}

.footer__name-company{
    font-weight: 400;
    font-size: 12px;
    color: var(--grey-text);
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 2px;
}

@media (max-width: 1200px) {
    .header {
        flex-direction: column;
    }

    .main__cover-container {
        position: relative;
    }

    .main__img-price, .main__cover {
        display: none;
    }

    .main__content {
        align-self: center;
    }

    .main {
        flex-direction: column;
        gap: 20px;
    }

    .title {
        font-size: 45px;
        width: 450px;
    }

    .info__container {
        flex-direction: column;
        gap: 0;
    }

    .info__description {
        text-align: justify;
    }

    .info__facts {
        flex-direction: row;
        justify-content: center;
        padding-top: 25px;
    }

    .products__list {
        flex-wrap: wrap;
        gap: 20px;
    }

    .products__title {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .collections {
        flex-direction: column-reverse;
    }

    .collections__description {
        margin: 0;
        padding: 25px;
        align-items: center;
    }

    .collections__content {
        width: auto;
        text-align: justify;
        font-size: 16px;
    }

    .collections__offer-view {
        width: 100%;
        height: 250px;
        background-size: cover;
    }

    .promotion__products{
        flex-wrap: wrap;
    }

    .advantages__list{
        flex-direction: column;
        gap: 5px;
    }

    .tagline__background{
        width: 100%;
        height: 560px;
        background-size: cover;
    }

    .footer__content{
        flex-wrap: wrap;
    }

    .footer__developed-company{
        justify-content: center;
    }

    .footer__markers{
        flex-direction: column;
    }
}
@media (max-width: 768px) {

    .header {
        flex-direction: column;
    }

    .header__slogan {
        display: none;
    }

    .header__logo {
        width: 226px;
        height: 65px;
        margin-bottom: 20px;
    }

    .header__phone {
        font-size: 22px;
    }

    .header__img-search {
        width: 25px;
        height: 25px;
    }

    .header__contact {
        align-items: center;
    }

    .title {
        font-size: 30px;
        width: 300px;
    }

    .main {
        justify-content: center;
    }

    .main__cover, .main__img-price {
        display: none;
    }

    .main__cover-container {
        position: relative;
        justify-content: center;
    }

    .main__content {
        padding: 0 10px 0 10px;
        width: auto;
    }

    .info__container {
        flex-direction: column;
    }

    .info__description {
        width: auto;
        padding: 0 10px 10px 10px;
    }

    .info__facts {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .products {
        width: 100%;
    }

    .products__list li {
        height: 200px;
    }

    .collections__offer-view {
        width: 100%;
        height: 250px;
        background-size: cover;
    }

    .advantages__list{
        flex-direction: column;
        gap: 5px;
        margin: 0;
    }

    .tagline__background{
        width: 100%;
        height: 340px;
        background-size: cover;
    }

    .tagline__title{
        padding: 7px;
        font-size: 20px;
    }

    .footer__content{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__markers{
        flex-wrap: nowrap;
    }

    .footer__social-media {
        justify-content: center;
    }
}