:root {
    --white-color: rgba(255, 255, 255, 1);
    --primary-color: rgba(0, 0, 0, 0.85);
    --info-background-color: rgba(246, 246, 246, 1);
    --color-text: rgb(217, 110, 30);
    --grey-text: rgba(165, 165, 165, 1);
    --info-header:rgba(0, 0, 0, 0.85);
    --text-background-li:rgba(255, 255, 255, 1);
    --title-background:rgba(255, 255, 255, 1);
    --color-price: rgb(217, 110, 30);
    --color-price-promotion: rgba(21, 23, 22, 1);
    --color-past-price-promotion: rgba(165, 165, 165, 1);
    --color-sale:rgba(255, 255, 255, 1);
    --color-tagline:rgb(217, 110, 30);
    --tagline:rgba(255, 255, 255, 1);
    --footer-title:rgba(255, 255, 255, 1);
}